.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  img {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 10px;
  }
  border-radius: 50%;
  background: #FB2F30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  background: #fc7979;
  transition: background 0.3s ease;
}
